.hero_swiper {
  position: relative;
  width: 100%;
  padding: 20px 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skeleton-main-wrapper {
  position: relative;
  width: 100%;
  height: 600px;
  border-radius: 12px;
  overflow: hidden;
}

.skeleton-main-img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: #ddd;
}

.thumb-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top: 20px;
  width: 85%;
}

.skeleton-thumbs {
  display: flex;
  gap: 10px;
  width: 70%;
  height: 80px;
}

.skeleton-thumb {
  flex: 1;
  height: 100%;
  border-radius: 12px;
  background-color: #ddd;
}

.skeleton-btn {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border-radius: 50%;
}

.shimmer {
  position: relative;
  overflow: hidden;
}
.shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  width: 250px;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(0, 0, 0, 0.1) 60%,
    transparent 100%
  );
  animation: shimmer .9s infinite;
}

@keyframes shimmer {
  100% {
    left: 100%;
  }
}

@media (max-width: 1023px) {
  .skeleton-thumbs .skeleton-thumb:nth-child(n+5) {
    display: none;
  }
}
@media (max-width: 767px) {
  .skeleton-thumbs .skeleton-thumb:nth-child(n+4) {
    display: none;
  }
}
@media (max-width: 639px) {
  .skeleton-thumbs .skeleton-thumb:nth-child(n+3) {
    display: none;
  }
}
@media (max-width: 400px) {
  .skeleton-thumbs .skeleton-thumb:nth-child(n+2) {
    display: none;
  }

  .skeleton-button {
    width: 150px;
  }

  .skeleton-title {
    width: 80%;
  }

  .skeleton-sub {
    width: 90px;
  }
}
