@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
   --color-primary: #c61f1f;
   --color-dark: #000;
   --color-content: #111111;
}

.container {
   max-width: 1212px;
   padding-left: 16px;
   padding-right: 16px;
}

/* @layer utilities {
   .no-scrollbar::-webkit-scrollbar {
      display: none;
   }
   .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
   }
} */